* {
    margin: 0;
    padding: 0;
  }
#calculator{
    width: 486px;
    height: 639px;
    background-color: darkgrey;
}
#eval{
    width: 486px;
    height: 96px;
    background-color:
    dimgray;
}
.numbers{
    display: inline-block;     /*very important*/
    width: 118.3px;
    background-color: black;
    height: 105px;
}
#d_0{
    width: 240.8px;
}
.sign{
    background-color: brown;
}
.digit{
    width: 63px;
    display:
    table;
    color: white;
    text-align: center;
    font-size: 55px;
}
#i_0{
    width: 98px;
}
#display{
    color: white;
    text-align:
    end;
    font-size: 70px;
}
